@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

.clearfix {
  display: inline-block;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

.clearleft, .clearl, .cleft {
  clear: left;
}

.clearright, .clearr, .cright {
  clear: right;
}

.clear, .clearboth, .clearall {
  clear: both;
}

.floatleft, .fleft, .floatl {
  float: left;
  margin: 0 10px 5px 0;
}

.floatright, .fright, .floatr {
  float: right;
  margin: 0 0 5px 10px;
}

#skip a:link, #skip a:hover, #skip a:visited {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
#skip a:active, #skip a:focus {
  position: static;
  width: auto;
  height: auto;
}

div.view div.views-admin-links {
  width: auto;
}

div.block {
  position: relative;
}
div.block .edit {
  display: none;
  position: absolute;
  right: -20px;
  top: -5px;
  z-index: 40;
  padding: 3px 8px 0;
  font-size: 10px;
  line-height: 16px;
  background-color: white;
  border: 1px solid #cccccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-box-shadow: 0 1px 3px #888888;
  -webkit-box-shadow: -1px 1px 2px #666666;
}
div.block .edit a {
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
}
div.block:hover .edit {
  display: block;
}

body {
  margin: 0;
  font: 16px / 1.5em "Lato", helvetica, Arial, sans-serif;
  letter-spacing: 0.03em;
  color: black;
}

a:link, a:visited {
  color: black;
  text-decoration: none;
}

a:hover, a:active {
  color: #000000;
  text-decoration: none;
}

#site-name {
  font-size: 2.2em;
  line-height: 1.3em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3em;
}

h1 {
  font-size: 2.5em;
  font-weight: 400;
  padding: 0 0 0.5em;
  margin: 0;
}

h2 {
  font-size: 1.8em;
  font-weight: 400;
  margin-bottom: 0.75em;
}

h3 {
  font-size: 1.4em;
  margin-bottom: 1em;
}

h4 {
  font-size: 1.2em;
  margin-bottom: 0.8em;
}

h5 {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 0;
}

h6 {
  font-size: 1em;
  font-weight: bold;
}

p {
  margin: 0 0 1em 0;
}

ul, ol {
  margin-left: 0;
  padding-left: 0;
}

table {
  width: 99%;
}

tr.even td,
tr.odd td {
  padding: 10px 5px;
}

tr.odd {
  background-color: white;
}

pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

pre {
  background-color: #efefef;
  display: block;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #aaaaaa;
}

ul {
  list-style-type: disc;
}
ul ul {
  list-style-type: circle;
}
ul ul ul {
  list-style-type: square;
}
ul ul ul ul {
  list-style-type: circle;
}

ol {
  list-style-type: decimal;
}
ol ol {
  list-style-type: lower-alpha;
}
ol ol ol {
  list-style-type: decimal;
}

abbr {
  border-bottom: 1px dotted #666666;
  cursor: help;
  white-space: nowrap;
}

#edit-title {
  font-size: 24px;
  width: 99%;
}

#system-themes-form img {
  width: 100px;
}

.form-item .description {
  font-style: italic;
  line-height: 1.2em;
  font-size: 0.8em;
  margin-top: 5px;
  color: #777777;
}

#edit-delete {
  color: #cc0000;
}

div.messages {
  padding: 9px;
  margin: 1em 0;
  color: #003366;
  background: #bbddff;
  border: 1px solid #aaccee;
}

div.warning {
  color: #884400;
  background: #ffee66;
  border-color: #eedd55;
}

div.error {
  color: white;
  background: #ee6633;
  border-color: #dd5522;
}

div.status {
  color: #336600;
  background: #ccff88;
  border-color: #bbee77;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?-lbs8kq");
  src: url("../fonts/icomoon.eot?#iefix-lbs8kq") format("embedded-opentype"), url("../fonts/icomoon.ttf?-lbs8kq") format("truetype"), url("../fonts/icomoon.woff?-lbs8kq") format("woff"), url("../fonts/icomoon.svg?-lbs8kq#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
.icon, .field-collection-view ul.field-collection-view-links li a, .field-collection-container ul.action-links a, .draggable a.tabledrag-handle .handle, tr.draggable .contextual-links-wrapper li a, div.tabs ul.tabs.primary li a, .field-name-field-attachment .file a:before, .add_controls i, .add_controls li a i, [class^="icon-"], [class*=" icon-"] {
  display: inline-block;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button:before, .field-collection-view ul.field-collection-view-links li a:before, .field-collection-container ul.action-links a:before, .draggable a.tabledrag-handle .handle:before, tr.draggable .contextual-links-wrapper li a:before, div.tabs ul.tabs.primary li a:before, .add_controls li a i:before {
  display: inline-block;
  padding: 0.5em;
  border-radius: 2px;
  background-color: #fafafa;
  color: #3170ff;
  font-size: 20px;
}
.button:hover:before, .field-collection-view ul.field-collection-view-links li a:hover:before, .field-collection-container ul.action-links a:hover:before, .draggable a.tabledrag-handle .handle:hover:before, tr.draggable .contextual-links-wrapper li a:hover:before, div.tabs ul.tabs.primary li a:hover:before, .add_controls li a i:hover:before {
  background-color: #6493ff;
  color: #fff;
}

.icon-chat:before {
  content: "\e600";
}

.icon-email:before {
  content: "\e601";
}

.icon-textsms:before {
  content: "\e602";
}

.icon-add:before, .field-collection-container ul.action-links a:before, .add_controls #add_anchor i:before {
  content: "\e069";
}

.icon-add_box:before {
  content: "\e06a";
}

.icon-add_circle:before {
  content: "\e06b";
}

.icon-add_circle_outline:before {
  content: "\e06c";
}

.icon-archive:before {
  content: "\e06d";
}

.icon-backspace:before {
  content: "\e06e";
}

.icon-content_cut:before {
  content: "\e603";
}

.icon-content_paste:before {
  content: "\e604";
}

.icon-mail:before {
  content: "\e605";
}

.icon-text_format:before {
  content: "\e606";
}

.icon-attach_file:before {
  content: "\e0c0";
}

.icon-border_color:before {
  content: "\e0c5";
}

.icon-format_align_justify:before {
  content: "\e607";
}

.icon-format_color_fill:before {
  content: "\e608";
}

.icon-format_color_text:before {
  content: "\e609";
}

.icon-format_line_spacing:before {
  content: "\e60a";
}

.icon-format_list_bulleted:before {
  content: "\e60b";
}

.icon-format_list_numbered:before {
  content: "\e60c";
}

.icon-format_paint:before, .add_controls #add_color i:before {
  content: "\e60d";
}

.icon-insert_drive_file:before {
  content: "\e60e";
}

.icon-insert_invitation:before {
  content: "\e60f";
}

.icon-insert_link:before {
  content: "\e610";
}

.icon-insert_photo:before {
  content: "\e611";
}

.icon-mode_comment:before {
  content: "\e612";
}

.icon-mode_edit:before, .field-collection-view ul.field-collection-view-links li.edit a:before, tr.draggable .contextual-links-wrapper li.node-edit a:before, div.tabs ul.tabs.primary li a.edit:before {
  content: "\e613";
}

.icon-vertical_align_bottom:before {
  content: "\e0f2";
}

.icon-photo_library:before {
  content: "\e614";
}

.icon-picture_as_pdf:before {
  content: "\e615";
}

.icon-wb_cloudy:before {
  content: "\e616";
}

.icon-photo_size_select_actual:before {
  content: "\e617";
}

.icon-local_movies:before {
  content: "\e618";
}

.icon-local_offer:before {
  content: "\e619";
}

.icon-local_see:before {
  content: "\e61a";
}

.icon-pin_drop:before {
  content: "\e61b";
}

.icon-place:before {
  content: "\e61c";
}

.icon-apps:before, tr.draggable .contextual-links-wrapper li.manage-display a:before, div.tabs ul.tabs.primary li a.manage-display:before {
  content: "\e61d";
}

.icon-arrow_back:before {
  content: "\e61e";
}

.icon-arrow_drop_up:before {
  content: "\e61f";
}

.icon-arrow_forward:before {
  content: "\e620";
}

.icon-cancel:before {
  content: "\e621";
}

.icon-check:before {
  content: "\e622";
}

.icon-chevron_left:before {
  content: "\e623";
}

.icon-chevron_right:before {
  content: "\e624";
}

.icon-close:before, .field-collection-view ul.field-collection-view-links li.delete a:before, tr.draggable .contextual-links-wrapper li.node-delete a:before {
  content: "\e625";
}

.icon-expand_less:before {
  content: "\e626";
}

.icon-expand_more:before {
  content: "\e627";
}

.icon-menu:before {
  content: "\e628";
}

.icon-keyboard_control:before {
  content: "\e629";
}

.icon-more_vert:before {
  content: "\e62a";
}

.icon-refresh:before {
  content: "\e62b";
}

.icon-unfold_less:before {
  content: "\e62c";
}

.icon-unfold_more:before, .draggable a.tabledrag-handle .handle:before {
  content: "\e62d";
}

.icon-person:before {
  content: "\e62e";
}

.icon-poll:before {
  content: "\e62f";
}

.icon-public:before {
  content: "\e630";
}

.icon-school:before {
  content: "\e631";
}

.icon-share:before {
  content: "\e632";
}

.icon-check_box:before {
  content: "\e633";
}

.icon-check_box_outline_blank:before {
  content: "\e634";
}

.icon-radio_button_unchecked:before {
  content: "\e635";
}

.icon-radio_button_checked:before {
  content: "\e636";
}

.icon-star:before {
  content: "\e637";
}

.icon-star_half:before {
  content: "\e638";
}

.icon-star_outline:before {
  content: "\e639";
}

.icon-autorenew:before {
  content: "\e63a";
}

.icon-backup:before {
  content: "\e63b";
}

.icon-build:before {
  content: "\e63c";
}

.icon-cached:before {
  content: "\e63d";
}

.icon-check_circle:before {
  content: "\e63e";
}

.icon-code:before, .add_controls #add_code i:before {
  content: "\e63f";
}

.icon-delete:before {
  content: "\e640";
}

.icon-description:before {
  content: "\e641";
}

.icon-done:before {
  content: "\e642";
}

.icon-extension:before {
  content: "\e643";
}

.icon-face:before {
  content: "\e644";
}

.icon-favorite:before {
  content: "\e645";
}

.icon-favorite_outline:before {
  content: "\e646";
}

.icon-feedback:before {
  content: "\e647";
}

.icon-find_in_page:before {
  content: "\e648";
}

.icon-get_app:before {
  content: "\e649";
}

.icon-grade:before {
  content: "\e64a";
}

.icon-group_work:before {
  content: "\e64b";
}

.icon-help:before {
  content: "\e64c";
}

.icon-highlight_remove:before {
  content: "\e64d";
}

.icon-home:before {
  content: "\e64e";
}

.icon-https:before {
  content: "\e64f";
}

.icon-info:before {
  content: "\e650";
}

.icon-info_outline:before {
  content: "\e651";
}

.icon-input:before {
  content: "\e652";
}

.icon-label:before {
  content: "\e653";
}

.icon-label_outline:before {
  content: "\e654";
}

.icon-list:before {
  content: "\e655";
}

.icon-lock:before {
  content: "\e656";
}

.icon-lock_open:before {
  content: "\e657";
}

.icon-lock_outline:before {
  content: "\e658";
}

.icon-note_add:before {
  content: "\e659";
}

.icon-open_in_browser:before {
  content: "\e65a";
}

.icon-open_in_new:before {
  content: "\e65b";
}

.icon-open_with:before {
  content: "\e65c";
}

.icon-pageview:before {
  content: "\e65d";
}

.icon-perm_identity:before {
  content: "\e65e";
}

.icon-print:before {
  content: "\e65f";
}

.icon-question_answer:before {
  content: "\e660";
}

.icon-report_problem:before {
  content: "\e661";
}

.icon-room:before {
  content: "\e662";
}

.icon-schedule:before {
  content: "\e663";
}

.icon-search:before {
  content: "\e664";
}

.icon-settings:before {
  content: "\e665";
}

.icon-settings_applications:before {
  content: "\e666";
}

.icon-spellcheck:before {
  content: "\e667";
}

.icon-stars:before {
  content: "\e668";
}

.icon-subject:before, .add_controls #add_text i:before {
  content: "\e669";
}

.icon-swap_horiz:before {
  content: "\e66a";
}

.icon-swap_vert:before {
  content: "\e66b";
}

.icon-swap_vertical_circle:before {
  content: "\e66c";
}

.icon-system_update_alt:before {
  content: "\e66d";
}

.icon-theaters:before {
  content: "\e66e";
}

.icon-thumb_down:before {
  content: "\e66f";
}

.icon-thumb_up:before {
  content: "\e670";
}

.icon-today:before {
  content: "\e671";
}

.icon-turned_in:before {
  content: "\e672";
}

.icon-turned_in_not:before {
  content: "\e673";
}

.icon-verified_user:before {
  content: "\e674";
}

.icon-visibility:before {
  content: "\e675";
}

.icon-visibility_off:before {
  content: "\e676";
}

.icon-help_outline:before {
  content: "\e677";
}

.icon-reorder:before {
  content: "\e678";
}

.icon-zoom_in:before {
  content: "\e679";
}

.icon-zoom_out:before {
  content: "\e67a";
}

.icon-play_for_work:before, .field-name-field-attachment .file a:before {
  content: "\e67b";
}

.container {
  max-width: 80em;
  margin-left: auto;
  margin-right: auto;
  margin-left: auto;
  margin-right: auto;
  width: 80em;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 1280px) {
  .container {
    width: auto;
  }
}

.no-sidebars #content {
  float: left;
  display: block;
  margin-right: 1.69492%;
  width: 100%;
}
.no-sidebars #content:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .no-sidebars #content {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 100%;
  }
  .no-sidebars #content:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 480px) {
  .no-sidebars #content {
    float: left;
    display: block;
    margin-right: 6.66667%;
    width: 100%;
  }
  .no-sidebars #content:last-child {
    margin-right: 0;
  }
}
.one-sidebar.sidebar-second #content {
  float: left;
  display: block;
  margin-right: 1.69492%;
  width: 72.88136%;
}
.one-sidebar.sidebar-second #content:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .one-sidebar.sidebar-second #content {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 74.19355%;
  }
  .one-sidebar.sidebar-second #content:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 480px) {
  .one-sidebar.sidebar-second #content {
    float: left;
    display: block;
    margin-right: 6.66667%;
    width: 100%;
  }
  .one-sidebar.sidebar-second #content:last-child {
    margin-right: 0;
  }
}
.one-sidebar.sidebar-first #content {
  float: left;
  display: block;
  margin-right: 1.69492%;
  width: 79.66102%;
  margin-left: 20.33898%;
}
.one-sidebar.sidebar-first #content:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .one-sidebar.sidebar-first #content {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 74.19355%;
    margin-left: 25.80645%;
  }
  .one-sidebar.sidebar-first #content:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 480px) {
  .one-sidebar.sidebar-first #content {
    float: left;
    display: block;
    margin-right: 6.66667%;
    width: 100%;
    margin-left: 0%;
  }
  .one-sidebar.sidebar-first #content:last-child {
    margin-right: 0;
  }
}
.two-sidebars #content {
  float: left;
  display: block;
  margin-right: 1.69492%;
  width: 52.54237%;
  margin-left: 20.33898%;
}
.two-sidebars #content:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .two-sidebars #content {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 48.3871%;
    margin-left: 25.80645%;
  }
  .two-sidebars #content:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 480px) {
  .two-sidebars #content {
    float: left;
    display: block;
    margin-right: 6.66667%;
    width: 100%;
    margin-left: 0%;
  }
  .two-sidebars #content:last-child {
    margin-right: 0;
  }
}

#sidebar-first {
  float: left;
  display: block;
  margin-right: 1.69492%;
  width: 18.64407%;
  margin-left: -74.57627%;
}
#sidebar-first:last-child {
  margin-right: 0;
}
.sidebar-first #sidebar-first {
  margin-left: -101.69492%;
}
@media screen and (max-width: 768px) {
  #sidebar-first {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 22.58065%;
    margin-left: -77.41935%;
  }
  #sidebar-first:last-child {
    margin-right: 0;
  }
  .sidebar-first #sidebar-first {
    margin-left: -103.22581%;
  }
}
@media screen and (max-width: 480px) {
  #sidebar-first {
    float: left;
    display: block;
    margin-right: 6.66667%;
    width: 100%;
    margin-left: 0%;
  }
  #sidebar-first:last-child {
    margin-right: 0;
  }
  .sidebar-first #sidebar-first {
    margin-left: 0%;
  }
}

#sidebar-second {
  float: left;
  display: block;
  margin-right: 1.69492%;
  width: 25.42373%;
  margin-left: 0%;
}
#sidebar-second:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  #sidebar-second {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 22.58065%;
    margin-left: 0%;
  }
  #sidebar-second:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 480px) {
  #sidebar-second {
    float: left;
    display: block;
    margin-right: 6.66667%;
    width: 100%;
    margin-left: 0%;
  }
  #sidebar-second:last-child {
    margin-right: 0;
  }
}

#footer {
  float: none;
  clear: both;
}

#header,
#footer,
.mission,
.breadcrumb,
.node {
  clear: both;
}

.inner {
  padding: 0;
}

#navigation li {
  list-style-type: none;
  display: inline-block;
}

ul.menu li {
  list-style-type: none;
  list-style-image: none;
  padding: 0;
  margin: 0;
}
ul.menu li a {
  text-transform: uppercase;
  font-size: 12px;
  color: #808080;
}
ul.menu li a.active {
  color: #769e2d;
}

#header .block-multiblock ul.menu li {
  display: inline-block;
  padding: 0 1.5em 0 0;
}
#header .block-multiblock ul.menu li a {
  font-size: 14px;
  letter-spacing: 0.1em;
}
#header .block-multiblock ul.menu li.active-trail a {
  color: #769e2d;
  border-bottom: 2px solid #769e2d;
}
#header .block-multiblock ul.menu li ul {
  display: none;
}

#sidebar-first .block-menu ul.menu li {
  display: none;
}
#sidebar-first .block-menu ul.menu li.active-trail {
  display: block;
}
#sidebar-first .block-menu ul.menu li.active-trail a.active {
  color: #769e2d;
}
#sidebar-first .block-menu ul.menu li ul {
  margin-top: 1em;
}
#sidebar-first .block-menu ul.menu li.active-trail ul {
  display: block;
}
#sidebar-first .block-menu ul.menu li ul li {
  display: block;
  margin-top: 1.5em;
}
#sidebar-first .block-menu ul.menu li ul li a {
  text-transform: none;
  font-size: 14px;
  pointer-events: all;
  cursor: auto;
  color: black;
}
#sidebar-first .block-menu ul.menu li ul li.expanded a {
  pointer-events: none;
  cursor: default;
  color: #b3b3b3;
  font-size: 12px;
  text-transform: uppercase;
}
#sidebar-first .block-menu ul.menu li ul li ul {
  margin-top: 0;
  margin-bottom: 0.25em;
}
#sidebar-first .block-menu ul.menu li ul li ul li,
#sidebar-first .block-menu ul.menu li ul li.expanded ul li {
  margin-top: 0;
}
#sidebar-first .block-menu ul.menu li ul li ul li a,
#sidebar-first .block-menu ul.menu li ul li.expanded ul li a {
  pointer-events: all;
  cursor: auto;
  text-transform: none;
  font-size: 14px;
  color: black;
}

.field-name-field-swatches .field-items .field-item {
  width: 20%;
  float: left;
  position: relative;
  margin-bottom: 0;
}
.field-name-field-swatches .field .field-item {
  width: 100%;
  float: none;
  text-align: center;
  position: relative;
}

.field-collection-view {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  border-bottom: none;
  text-align: center;
}
.field-collection-view .entity-field-collection-item {
  width: auto;
  float: none;
}
.field-collection-view .field-label {
  width: auto;
  font-weight: normal;
  color: #808080;
}
.field-collection-view .field-item {
  color: #808080;
  font-weight: bold;
}
.field-collection-view ul.field-collection-view-links {
  display: inline;
  margin-top: 10px;
  float: none;
  margin: 0 auto;
}
.field-collection-view ul.field-collection-view-links li {
  display: inline-block;
  position: relative;
  right: auto;
  top: auto;
  box-shadow: none;
  border: none;
  padding: 0;
  margin-left: 2px;
}
.field-collection-view ul.field-collection-view-links li a {
  font-size: 0;
}

.field-collection-container {
  border-bottom: none;
  position: relative;
}
.field-collection-container ul.action-links {
  position: absolute;
  right: 0px;
  bottom: 0px;
  list-style-type: none;
  margin: 0;
}
.field-collection-container ul.action-links a {
  font-size: 0;
}

.field-name-field-color-name .field-item {
  color: #000;
  padding: 0.5em 0;
}

.colorfield-color-swatch {
  border-radius: 64px;
  border: 1px solid #808080;
  margin: 0 auto;
}

#content-area {
  position: relative;
}

.tabledrag-toggle-weight-wrapper {
  display: none;
}

.draggable a.tabledrag-handle {
  position: absolute;
  top: 28px;
  right: -20px;
  height: auto;
  margin-left: 0;
  overflow: visible;
}
.draggable a.tabledrag-handle:hover {
  color: #a9d25f;
}
.draggable a.tabledrag-handle .handle {
  content: "";
  font-size: 0;
  background: none;
}

.views-table tbody {
  border-top: none;
}

body.drag tr.draggable {
  opacity: 0.5;
}
body.drag tr.draggable .contextual-links-wrapper {
  display: none;
}
body.drag tr.draggable .tabledrag-handle {
  display: none;
}
body.drag tr.draggable .content {
  display: none;
}

tr.draggable.even, tr.draggable.odd {
  background-color: transparent;
}
tr.draggable td {
  position: relative;
  padding: 2em 0;
  border-top: 1px solid #d6d6d6;
}
tr.draggable.drag {
  opacity: 1 !important;
  color: #6493ff;
}
tr.draggable.drag .tabledrag-handle {
  display: block !important;
}
tr.draggable .contextual-links-region-active,
tr.draggable .contextual-links-trigger-active {
  border: none !important;
}
tr.draggable .contextual-links-wrapper {
  display: block;
  right: -47px;
  top: 21px;
}
tr.draggable .contextual-links-wrapper .contextual-links-trigger {
  display: none;
}
tr.draggable .contextual-links-wrapper ul.contextual-links {
  display: block;
  border: none;
  background-color: transparent;
}
tr.draggable .contextual-links-wrapper li {
  margin-bottom: 2px;
}
tr.draggable .contextual-links-wrapper li a {
  font-size: 0;
}

div.tabs {
  display: block;
  position: absolute;
  right: -40px;
  top: -50px;
}
div.tabs ul.tabs.primary {
  display: block;
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
}
div.tabs ul.tabs.primary li {
  display: block;
  margin-bottom: 2px;
}
div.tabs ul.tabs.primary li a {
  display: inline-block;
  font-size: 0;
  border: none !important;
}
div.tabs ul.tabs.primary li a.view {
  display: none;
}

.field-name-field-attachment .field-label {
  text-transform: uppercase;
  font-size: 11px;
  color: #808080;
  margin-bottom: 1em;
}
.field-name-field-attachment .field-item {
  margin-bottom: 2px;
}
.field-name-field-attachment .file img {
  display: none;
}
.field-name-field-attachment .file a {
  background-color: #fafafa;
  padding: 2px 2px 6px 2px;
  font-size: 12px;
  line-height: 1em;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  width: 100%;
  text-overflow: ellipsis;
}
.field-name-field-attachment .file a:hover {
  background-color: #a9d25f;
  color: #fff;
}
.field-name-field-attachment .file a:before {
  font-size: 18px;
}

p img {
  margin: 0 auto;
  display: block;
  text-align: center;
  max-width: 100%;
  height: auto;
}

.links {
  text-align: right;
}

.node-readmore {
  padding: 0 !important;
}
.node-readmore a {
  padding: 0.4em 1em;
  display: inline-block;
  background: #94c638;
  border-radius: 1px;
  color: #fff;
  font-size: 14px;
}
.node-readmore a:hover {
  background-color: #a9d25f;
}

.group-center {
  float: left;
  display: block;
  margin-right: 2.32558%;
  width: 72.09302%;
}
.group-center:last-child {
  margin-right: 0;
}

.group-right {
  float: left;
  display: block;
  margin-right: 2.32558%;
  width: 25.5814%;
}
.group-right:last-child {
  margin-right: 0;
}

.add_controls {
  list-style-type: none;
  position: absolute;
  bottom: 0px;
  right: -40px;
}
.add_controls li {
  display: inline-block;
}
.add_controls li:hover a {
  color: #a9d25f;
}
.add_controls li:hover li a {
  color: #94c638;
}
.add_controls li:hover li a:hover {
  color: #fff;
}
.add_controls li a {
  display: inline-block;
}

.view-asset-file-list .views-row {
  float: left;
  display: block;
  margin-right: 1.69492%;
  width: 25.42373%;
  padding: 10px;
  background-color: #fafafa;
  border-radius: 1px;
}
.view-asset-file-list .views-row:last-child {
  margin-right: 0;
}

.field-name-field-note {
  border-top: 2px solid #b3b3b3;
  padding-top: 0.5em;
  font-size: 18px;
  line-height: 1.4em;
  color: #b3b3b3;
}

#header {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 60px;
  background-color: #fafafa;
}
#header .container {
  width: 100%;
  display: table;
}

#logo-block {
  float: left;
  display: block;
  margin-right: 1.69492%;
  width: 18.64407%;
}
#logo-block:last-child {
  margin-right: 0;
}

#logo {
  height: 100%;
}

#site-block {
  float: left;
  display: block;
  margin-right: 1.69492%;
  width: 38.98305%;
  margin-bottom: 0.5em;
}
#site-block:last-child {
  margin-right: 0;
}

#site-name {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  padding: 0;
  font-weight: 500;
  font-size: 1.2rem;
}

#site-slogan {
  font-weight: 200;
  font-size: 1.2rem;
}

#header-region {
  float: left;
  display: block;
  margin-right: 1.69492%;
  width: 59.32203%;
  height: 100%;
}
#header-region:last-child {
  margin-right: 0;
}

/*# sourceMappingURL=style.css.map */
