// Variables
// ---------
// Use the same color all over the place? Need to do
// some math with height and width and text size?
// Sass supports variables as well as basic math
// operations and many useful functions.
//
// For complete documentation:
// http://sass-lang.com/docs/yardoc/file.scss_REFERENCE.html#variables_
//
// Available variables:
// SASS:				http://sass-lang.com/docs/yardoc/file.scss_REFERENCE.html#variables_
// Bourbon:				http://bourbon.io/docs/

// Colour variables
$grey: #808080;
$grey_light: lighten($grey, 20%);
$grey_subtle: lighten($grey, 48%);
$grey_dark: darken($grey, 50%);

$link_color: #94c638;
$active_color: darken($link_color,10%);
$hover_color: lighten($link_color,10%);

$edit_color: #3170ff;
$edit_hover: lighten($edit_color,10%);
$edit_active: darken($edit_color,10%);

// Margin/padding variables
$margin: $gutter;
$padding: $gutter;
