$icon-chat: "\e600";
$icon-email: "\e601";
$icon-textsms: "\e602";
$icon-add: "\e069";
$icon-add_box: "\e06a";
$icon-add_circle: "\e06b";
$icon-add_circle_outline: "\e06c";
$icon-archive: "\e06d";
$icon-backspace: "\e06e";
$icon-content_cut: "\e603";
$icon-content_paste: "\e604";
$icon-mail: "\e605";
$icon-text_format: "\e606";
$icon-attach_file: "\e0c0";
$icon-border_color: "\e0c5";
$icon-format_align_justify: "\e607";
$icon-format_color_fill: "\e608";
$icon-format_color_text: "\e609";
$icon-format_line_spacing: "\e60a";
$icon-format_list_bulleted: "\e60b";
$icon-format_list_numbered: "\e60c";
$icon-format_paint: "\e60d";
$icon-insert_drive_file: "\e60e";
$icon-insert_invitation: "\e60f";
$icon-insert_link: "\e610";
$icon-insert_photo: "\e611";
$icon-mode_comment: "\e612";
$icon-mode_edit: "\e613";
$icon-vertical_align_bottom: "\e0f2";
$icon-photo_library: "\e614";
$icon-picture_as_pdf: "\e615";
$icon-wb_cloudy: "\e616";
$icon-photo_size_select_actual: "\e617";
$icon-local_movies: "\e618";
$icon-local_offer: "\e619";
$icon-local_see: "\e61a";
$icon-pin_drop: "\e61b";
$icon-place: "\e61c";
$icon-apps: "\e61d";
$icon-arrow_back: "\e61e";
$icon-arrow_drop_up: "\e61f";
$icon-arrow_forward: "\e620";
$icon-cancel: "\e621";
$icon-check: "\e622";
$icon-chevron_left: "\e623";
$icon-chevron_right: "\e624";
$icon-close: "\e625";
$icon-expand_less: "\e626";
$icon-expand_more: "\e627";
$icon-menu: "\e628";
$icon-keyboard_control: "\e629";
$icon-more_vert: "\e62a";
$icon-refresh: "\e62b";
$icon-unfold_less: "\e62c";
$icon-unfold_more: "\e62d";
$icon-person: "\e62e";
$icon-poll: "\e62f";
$icon-public: "\e630";
$icon-school: "\e631";
$icon-share: "\e632";
$icon-check_box: "\e633";
$icon-check_box_outline_blank: "\e634";
$icon-radio_button_unchecked: "\e635";
$icon-radio_button_checked: "\e636";
$icon-star: "\e637";
$icon-star_half: "\e638";
$icon-star_outline: "\e639";
$icon-autorenew: "\e63a";
$icon-backup: "\e63b";
$icon-build: "\e63c";
$icon-cached: "\e63d";
$icon-check_circle: "\e63e";
$icon-code: "\e63f";
$icon-delete: "\e640";
$icon-description: "\e641";
$icon-done: "\e642";
$icon-extension: "\e643";
$icon-face: "\e644";
$icon-favorite: "\e645";
$icon-favorite_outline: "\e646";
$icon-feedback: "\e647";
$icon-find_in_page: "\e648";
$icon-get_app: "\e649";
$icon-grade: "\e64a";
$icon-group_work: "\e64b";
$icon-help: "\e64c";
$icon-highlight_remove: "\e64d";
$icon-home: "\e64e";
$icon-https: "\e64f";
$icon-info: "\e650";
$icon-info_outline: "\e651";
$icon-input: "\e652";
$icon-label: "\e653";
$icon-label_outline: "\e654";
$icon-list: "\e655";
$icon-lock: "\e656";
$icon-lock_open: "\e657";
$icon-lock_outline: "\e658";
$icon-note_add: "\e659";
$icon-open_in_browser: "\e65a";
$icon-open_in_new: "\e65b";
$icon-open_with: "\e65c";
$icon-pageview: "\e65d";
$icon-perm_identity: "\e65e";
$icon-print: "\e65f";
$icon-question_answer: "\e660";
$icon-report_problem: "\e661";
$icon-room: "\e662";
$icon-schedule: "\e663";
$icon-search: "\e664";
$icon-settings: "\e665";
$icon-settings_applications: "\e666";
$icon-spellcheck: "\e667";
$icon-stars: "\e668";
$icon-subject: "\e669";
$icon-swap_horiz: "\e66a";
$icon-swap_vert: "\e66b";
$icon-swap_vertical_circle: "\e66c";
$icon-system_update_alt: "\e66d";
$icon-theaters: "\e66e";
$icon-thumb_down: "\e66f";
$icon-thumb_up: "\e670";
$icon-today: "\e671";
$icon-turned_in: "\e672";
$icon-turned_in_not: "\e673";
$icon-verified_user: "\e674";
$icon-visibility: "\e675";
$icon-visibility_off: "\e676";
$icon-help_outline: "\e677";
$icon-reorder: "\e678";
$icon-zoom_in: "\e679";
$icon-zoom_out: "\e67a";
$icon-play_for_work: "\e67b";
